body{
    background-color: #1f2937;
    color: white !important;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section{
    width: 100%;
}
a,.nav-link{
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #34d399;
}
.bi-laptop{
    color: #34d399;
}
.text-body-emphasis{
    color: #34d399 !important;
    font-size: 60px;
}
.lead{
    word-spacing: 5px;
    text-align: left;
    
}
.home-img{
    border-radius: 50%;
    border: 5px solid #34d399;
}
.border-bottom,.border-top{
    border-color: #34d399 !important;
}
.feature-text{
    background-color: black;    
}
.feature-icon-small{
    width: 70px !important;
    height: 70px !important;
}
#feature p {
    font-size: 24px;
}
.form-text{
    color: black;
}
@media (max-width:576px){
    #home img{
        width: 250px;
        height: 250px;
    }
}